.local/
*.pem
*.key
*.p12
*.jks

inventory/generated.yml

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
tfplan
tfplan.*

*.retry
.ansible/
fact_cache/

__pycache__/
*.py[cod]
.venv/
venv/
.idea/
.vscode/
.DS_Store
